<div>
    <div class="post">
        <h2 id="blogHeader">
            <a id="blog_title" href="/blogPost/{{id}}">{{title}}</a>
            <p id="dateTime">Posted by {{user.name}} on {{format_date this.createdAt}} at {{format_time this.createdAt}}</p>
        </h2>
        <p id="content">{{content}}</p>
    </div>
</div>