{{#each blogPosts as |blogPost|}}
<div>
    <div class="post">
        <h2 id="blogHeader">
            <a id="blog_title" href="/blogPost/{{this.id}}">{{this.title}}</a>
            <p id="dateTime">Posted by {{user.username}} on {{format_date this.createdAt}} at {{format_time this.createdAt}}</p>
        </h2>
        <p id="content">{{this.content}}</p>
    </div>
</div>
{{/each}}